h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0.5em;
}

h4 {
  text-align: center;
  color: red;
  display: none;
}

.photo {
  max-height: 100vh;
  max-width: 100vw;
}

img {
  max-height: 80vh;
  max-width: 74vw;
  display: block;
  margin: auto;
}

input {
  position: absolute;
  top: 10px;
  right: 1vw;
  width: 12vw;
  color: grey;
}

.help {
  display: none;
  position: absolute;
  top: 66px;
  right: 1vw;
  width: 12vw;
  color: grey;
}

.help-button {
  cursor: pointer;
  position: absolute;
  top: 42px;
  right: 1vw;
  width: 4em;
  height: 1.3em;
  text-align: center;
  background-color: #337ab7;
  border-radius: 4px;
  color: white;
}

p {
  margin: 10px 0;
}
